*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(46, 99, 46);
    color: white;

}

.logosection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logosection img{
   width: 265px;
    height: 200px;
    margin:10px 10px,10px;
    /* transform: rotate(2deg); */
   padding: 2px;
}

.up{
    margin-bottom: 30px;
}

 h2{
    text-align: center;
}

