body{
    background-color: rgb(38, 104, 38);
}

.logosection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logosection img{
    max-width: 300px;
    max-height: 200px;
    margin-bottom:200px;
    margin-left: 15px;
    transform: rotate(2deg);

}